.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 69px 52px 94px 52px;
  color: #000;
}

.header__menu {
  display: grid;
  grid-template-columns: 1fr 129px 1fr;
  justify-content: end;
  align-items: center;
  font-size: 18px;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

ul .header__menu-item:first-child {
  list-style: none;
}

.header__menu-item {
  line-height: normal;
}

.header__link {
  text-underline-position: under;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 129px;
}

.address {
  justify-self: end;
  max-width: 237px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px; /* 135% */
}

/* Cover */

.cover {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 167px 50px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 9px;
  padding-bottom: 126px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__title-span {
  display: block;
}

.span__align-left {
  line-height: 115%;
}
.span__align-center {
  text-align: center;
}

.span__align-right {
  text-align: right;
}

.span__spacing {
  letter-spacing: 60px;
}

.span__spacing-normal {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  font-size: 22px;
  line-height: 28px; /* 127.273% */
  text-align: center;
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 18px;
}

.button_bet {
  border: currentColor 1px solid;
  padding: 12px 32px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background: inherit;
}

/* lotss */

.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 29px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 178px 50px 186px 50px;
}

.lots__heading {
  padding-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-link {
  height: 100%;
  text-decoration: none;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  list-style: none;
}

.lots__card-item {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  flex-basis: 430px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 100%;
  min-height: 450px;
  padding: 50px 40px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 120%; /* 24px */
}

.card__type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card__type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  padding-left: 40px;
  color: #000;
  font-size: 20px;
  text-underline-position: under;
}

/* about */

.about {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 50px 180px 50px;
  color: black;
}

.about__column {
  display: grid;
  grid-template-columns: 430px 1fr;
  place-items: center;
  gap: 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__img {
  width: 148px;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 4;
  gap: 25px;
  padding-top: 3px;
  font-size: 20px;
}

.about__title {
  justify-self: flex-start;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px 80px 50px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  list-style: none;
}

.footer__nav-link {
  text-underline-position: under;
}

.footer__adress a {
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-img {
  width: 48px;
}
